<div class="container">

<p>Updated {{DATE}}. <a href="#top">Back to top</a></p>                                                                                                                                   
<p>
&copy; 2017-2018 {{SITE_NAME}} 
&middot; <a href="../../privacy.html">Privacy</a>
</p> 

</div>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}</script>

</body></html>
